*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: linear-gradient(to right,#56ab2f, #a8e063);
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camb-clave {
    width: 400px;
    background-color: #fff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 18px;
    font-family: 'Roboto';
    color: black;
    box-shadow: 10px 23px 47px #000;
}

.camb-clave h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.pass {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.camb-clave .boton {
    width: 100%;
    background-color: #56ab2f;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;
}

.camb-clave a:hover {
    color: blue;
    text-decoration: underline;
}

.camb-clave p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.imagenpass {
    display: flex;
    justify-content: center;
    padding: 12px;
}