<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/micuenta.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="icon" href="../recursos/isologo.png">
    <title>Crear mi cuenta</title>
</head>

<body>
    <section class="my-account">
        <div class="imagen">
            <img src="../recursos/isologo.png" width="200px" height="170px">
        </div>
        <h1>Mi Cuenta</h1>
        <form method="post" action="MiCuenta.php">
            <label for="usuario">Usuario:</label><br>
            <input class="controls" type="text" name="usuario" id="usuario"><br>
            <label for="nombre">Nombre:</label><br>
            <input class="controls" type="text" name="nombre" id="nombre"><br>
            <label for="email">Correo electronico:</label><br>
            <input class="controls" type="email" name="email" id="email"><br>
            <label for="nacimiento">Fecha de nacimiento:</label><br>
            <input class="controls" type="date" name="nacimiento" id="nacimiento"><br>

            <p><a href="cambiarclave.html">Cambiar contraseña</a><br></p>

            <input class="boton" type="submit" value="guardar cambios">
        </form>
    </section>

</body>

</html>