<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mijardin.css" type="">
    <link rel="icon" href="../recursos/isologo.png">
    <title>GardeningFriend - Mi Jardín</title>
</head>

<body onscroll="stickyNav()">

    <header>
        <div id="logo_contenedor"> <img src="../recursos/logo-version-1.png" alt="logo" /> </div>
        <div id="opciones">
            <li id="login_boton"> <a href="login.html"> Login </a> </li>
            <li id="cuenta_boton"> <a href="micuenta.html"> Mi Cuenta </a> </li>
        </div>
    </header>

    <nav>
        <li id="menu" onclick="desplegarMenu()"> <u> Abrir Menu ↓</u></li>
        <li id="inicio" class="nav_item"><a href="../inicio.html">INICIO</a></li>
        <li id="cultivos" class="nav_item"><a href="tarjetas.html">CULTIVOS</a></li>
        <li id="consejos" class="nav_item"><a href="consejos.html"> CONSEJOS</a></li>
        <li id="ventas" class="nav_item"><a href="ventas.html">VENTAS</a></li>
        <li id="mi_jardin" class="nav_item"><a href="mijardin.html">MI JARDIN</a></li>
    </nav>

    <section>

        <div class="tarjeta" id="aceituna">
            <div class="imagen_wrapper">
                <img src="../recursos/icono-aceituna.png" alt="icono">
            </div>
            <div class="contenido">
                <h5 id="titulo_aceituna" class="titulos">ACEITUNA</h5>
                <p> <u>Categoría:</u> frutas </p>
            </div>
            <div class="botones">
                <button type="button" class="sembrar"> SEMBRAR </button>
                <button type="button" class="favoritos"> QUITAR DE FAVORITOS ×</button>
            </div>
        </div>

        <div class="tarjeta" id="cebolla">
            <div class="imagen_wrapper">
                <img src="../recursos/icono-cebolla.png" alt="icono">
            </div>
            <div class="contenido">
                <h5 id="titulo_cebolla" class="titulos">CEBOLLA</h5>
                <p> <u>Categoría:</u> vegetal </p>
            </div>
            <div class="botones">
                <button type="button" class="sembrar"> SEMBRAR </button>
                <button type="button" class="favoritos"> QUITAR DE FAVORITOS ×</button>
            </div>
        </div>
    </section>

    <footer>
        <div id="contenedor_isologo">
            <img src="../recursos/isologo-blanco.png" alt="logo-pagina">
        </div>
        <div id="contacto"> <a href="https://www.facebook.com/" target="_blank"><img src="../recursos/logo-face.png"
                    alt="logo"></a>
            <a href="https://www.instagram.com/" target="_blank"> <img src="../recursos/logo-insta.png" alt="logo"></a>
            @GardeningFriend
        </div>
        <p id="descripcion_footer"> Puedes contactarnos a traves de nuestras redes sociales.</p>
    </footer>

</body>
<script src="../js/nav.js"></script>

</html>