body {
    background-color: hsl(0, 0%, 90%);
    margin: 0;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecera {
    background-color: hsl(0, 0%, 20%);
}

.centrado {
    margin: 0 auto;
    padding: 0 .8em;
}

@media screen and(min-width:52em) {   
    .centrado {
        margin: 0 auto;
        padding: 0 .8em;
    }
} /*fin media*/

.titulo1 {
    margin: 0 0 1em;
    padding: 1em 0;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
}

.tarjeta a{
    color: hsl(0, 0%, 80%);
    text-decoration: none;
}

.tarjeta a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.tarjeta-content {
    padding: 1.4em;
}

.tarjeta-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.tarjeta-content p {
    font-size: 95%;
}

figure {
    margin: 0;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

/*Empezamos el flex box*/

.tarjeta {
    background: hsl(0, 0%, 100%);
    margin-bottom: 2em;
    width: 33%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*------------------------------ HEADER ---------------------------------*/
header{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("../recursos/fondo-izq-movil.png"), url("../recursos/fondo-der-movil.png");
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: contain;
}

header img{
    width: 325px;
}

/*------------------------------ NAV ---------------------------------*/
nav{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 40px;
    width: 100%;
    background:   #56ab2f;
    justify-content: space-around;
    align-items: center;
    color: var(--fuenteAlt);
    font-family: principal, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    list-style: none;
}

nav li{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--verde3);
    user-select: none;
}

nav li:hover{
    background: var(--verde3);
    transition: 0.5s ease-in-out;
    text-decoration: underline;
    
}

nav li a {
    text-decoration: none;
    color: var(--fuenteAlt);
}

nav .nav_item{
    display: none;
}

nav #menu{
    background: var(--verde3);
}

nav #menu:hover{
    text-decoration: underline;
    cursor: pointer;
}

nav #inicio{
    text-decoration: underline;
}

/*------------------------------ MEDIA QUERIES ---------------------------------*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header{
        background-image: url("../recursos/fondo-izq.png"), url("../recursos/fondo-der.png");
        background-position: left, right;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    header img{
        width: 275px;
    }

    nav{
        display: flex;
        height: 40px !important;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav #menu{
        display: none;
    }

    nav .nav_item{
        display: flex !important;
        border: none !important;
    }
}

/* -------------------- FOOTER ------------------------*/
footer{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 5/6;
    height: 100%;
    width: 100%;
    background: var(--verde3);
    font-family: Principal, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    color: var(--fuenteAlt);
    justify-content: space-evenly;
    align-items: center;
}

footer div img{
    height: 20px;
}

footer #descripcion_footer{
    font-size: 0.8rem;
}