<div class="cover" [class.active]="activeAlert"></div>

<div class="container">
<h1 class="my-garden">Mi Jardín</h1>

<h2 class="titulo-h2">Favoritos</h2>
<hr class="linea">

<div class="alertSembrar" [class.active]="activeAlert">
    <p>{{ alertText }}</p>
    <button (click)="showAlert()">Vale!</button>
</div>
<section *ngIf="cultivosToFavorito.length > 0; else elseFavorite">

    
    <div *ngFor="let favorito of cultivosToFavorito; let i = index" class="tarjeta" id="{{favorito.id}}">
        <div class="imagen_wrapper">
            <img [src]="favorito.imagen" alt="icono">
        </div>
        <div class="title">
            <h5 id="titulo_{{favorito.id}}" class="titulos"> {{favorito.nombre}} </h5>
        </div>
        <div class="category">
            <p> <u>Categoría:</u> {{favorito.tipo}}</p>
        </div>
        <div class="botones">
            <button (click)="addToSembrar(favorito)" type="button" class="sembrar"> SEMBRAR </button>
            <button (click)="removeFavorito(i)" type="button" class="favoritos">FAVORITOS X</button>
        </div>
    </div>

</section>

<ng-template #elseFavorite>
    <p style="font-size: 24px; font-weight: bold; color: antiquewhite; text-align: center; margin: 100px 0; font-family: secundaria1;">No hay ningún cultivo agregado a favoritos.</p>
</ng-template>


<h2 class="titulo-h2">Listos para sembrar</h2>
<hr class="linea">

<section *ngIf="cultivosToSembrar.length > 0; else elseGarden">

    <div *ngFor="let cultivo of cultivosToSembrar" class="tarjeta" id="{{cultivo.id}}">
        <div class="imagen_wrapper">
            <img [src]="cultivo.imagen" alt="icono">
        </div>
        <div class="title">
            <h5 id="titulo_{{cultivo.id}}" class="titulos"> {{cultivo.nombre}} </h5>
        </div>
        <div class="category">
            <p> <u>Categoría:</u> {{cultivo.tipo}}</p>
        </div>
        <div class="botones">
            <button type="button" class="sembrar"> SEMBRAR </button>
        </div>
    </div>

</section>

<ng-template #elseGarden>
    <p style="font-size: 24px; font-weight: bold; color: antiquewhite; text-align: center; margin: 100px 0; font-family: secundaria1;">No hay ningún cultivo para sembrar.</p>
</ng-template>

</div>