/*------------------------------ NAV ---------------------------------*/
nav {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 40px;
    width: 100%;
    background: var(--verde3B);
    justify-content: space-around;
    align-items: center;
    color: var(--fuenteAlt);
    font-family: secundaria3, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    list-style: none;
    z-index: 20;
}

nav li {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--verde3);
    user-select: none;
}

nav li:hover {
    background: var(--verde3);
    transition: 0.5s ease-in-out;
    text-decoration: underline;

}

nav .nav_item{
    display: none;
}

nav li a {
    text-decoration: none;
    color: var(--fuenteAlt);
}

nav #menu {
    background: var(--verde3);
}

nav #menu:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*------------------------------ MEDIA QUERIES ---------------------------------*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav {
        display: flex !important;
        height: 40px ;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    nav #menu {
        display: none;
    }

    nav .nav_item {
        display: flex;
        border: none;
    }
}

/*-------------------------- CLASES RESOLUCION MOVIL ------------------------------*/
/* .nav_movil{
    height: 300px;
    transition: 0.2s;
}

.nav_normal{
    height: 40px;
    transition: 0.2s;
} */