<nav>
    <li id="menu"><u> Abrir Menu ↓</u></li>
    <li id="inicio" class="nav_item"><a href="inicio.html">INICIO</a></li>

    <li id="cultivos" class="nav_item">
        <a routerLink="/cultivos">CULTIVOS</a>
    </li>
    <li id="consejos" class="nav_item">
        <a href="/consejo"> CONSEJOS</a>
    </li>
    <li id="ventas" class="nav_item">
        <a routerLink="/tienda">TIENDA</a>
    </li>
    <li id="mi_jardin" class="nav_item">
        <a routerLink="/jardin">MI JARDIN</a>
    </li>
</nav>
<router-outlet></router-outlet>