<div class="cover" [class.active]="activeAlert"></div>
<section>
    <div class="alertSembrar" [class.active]="activeAlert">
        <p>{{ alertText }}</p>
        <button (click)="showAlert()">Vale!</button>
    </div>
    
    <div *ngFor="let cultivo of cultivos" class="tarjeta" id="{{cultivo.id}}">
        <div class="imagen_wrapper">
            <img [src]="cultivo.imagen" alt="icono">
        </div>
        <div class="title">
            <h5 id="titulo_{{cultivo.id}}" class="titulos">{{cultivo.nombre}}</h5>
        </div>
        <div class="category">
            <p> <u>Categoría:</u> {{cultivo.tipo}} </p>
        </div>
        <div class="botones">
            <button (click)="addToSembrar(cultivo)" type="button" class="sembrar"> SEMBRAR </button>
            <button (click)="addToFavorito(cultivo)" type="button" class="favoritos"> A FAVORITOS ★</button>
        </div>
    </div>

</section>