<div *ngIf="users.length > 0; else elseDashboard">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #elseDashboard>
    <div style="height: 100vh;">
        <p style="font-size: 24px; font-weight: bold; color: darkgreen; text-align: center; margin: 100px 0; font-family: secundaria1;">No hay usuarios registrados por el momento.</p>
    </div>
</ng-template>