#portada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    overflow: hidden;
    background-image: url("../../../assets/fondo-portada-jardineria.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#portada h3{
    font-size: 3rem;
    color: var(--fuenteAlt);
    font-family: secundaria1;
}