<body>
    <form action="" method="POST" id="form">
        <div class="form">
            <img src="../../assets/isologo.png" />
            <h1>Iniciar sesión</h1>
            <div class="grupo">
                <input type="email" name="" id="email" required /><span class="barra"></span>
                <label for="">Email</label>
            </div>
            <div class="grupo">
                <input type="password" name="" id="password" required /><span class="barra"></span>
                <label for="">Password</label>
            </div>
            <p id="mensaje_login"></p>
            <button type="submit" onclick="return validarDatos()">Ingresar</button>
            <div class="cuenta">
                <p>¿No tienes cuenta?</p>
                <a href="micuenta.html">Registrarse</a>
            </div>
        </div>
    </form>
</body>