/*------------------------------ HEADER ---------------------------------*/
header {
    display: grid;
    grid-area: header;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/fondo-izq-movil.png"), url("../../../assets/fondo-der-movil.png");
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
}

header #logo_contenedor {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: secundaria3;
}

header #logo_contenedor img {
    width: 240px;
}

header #opciones {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

header #opciones li {
    list-style: none;
    font-family: secundaria4;
    background: var(--verde3B);
    border-radius: 5px;
    padding: 3px;
}

header #opciones #cuenta_boton {
    list-style-image: url("../../../assets/icono-user-mini.png");
    list-style-position: outside;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}

#cerrar_sesion{
    margin-right: 5px;
    margin-left: 5px;
}

header #opciones li a {
    color: white;
    text-decoration: none;
}

header #opciones li a:hover {
    text-decoration: underline;
}

#cerrar_sesion{
    margin-right: 5px;
    margin-left: 5px;
}

/*------------------------------ MEDIA QUERIES ---------------------------------*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header {
        /*background-image: url("../recursos/fondo-izq.png"), url("../recursos/fondo-der.png");*/
        background-position: left, right;
        background-repeat: no-repeat;
        background-size: contain;
    }

    header img {
        width: 280px;
    }
}

/* horizontal tablets */
@media only screen and (orientation: landscape) {
    header {
        background-image: url("../../../assets/fondo-izq.png"), url("../../../assets/fondo-der.png");
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header {
        background-image: url("../../../assets/fondo-izq.png"), url("../../../assets/fondo-der.png");
        max-height: 125px !important;
    }

    header img {
        width: 280px;
    }
}