<body>
    <div class="container">
        <form action="#" class="form" id="form">
            <div class="imagen">
                <img src="../../assets/isologo.png" width="150px" height="130px">
            </div>
            <h1>Mi Cuenta</h1>
            <div class="form-input usuario">
                <input type="text" id="usuario">
                <label for="usuario">Usuario</label>
                <p class="mensajeError"></p>
            </div>
            <div class="form-input nombre">
                <input type="text" name="nombre" id="nombre">
                <label for="nombre">Nombre</label>
                <p class="mensajeError"></p>
            </div>
            <div class="form-input email">
                <input type="email" name="email" id="email">
                <label for="email">Correo electronico</label>
                <p class="mensajeError"></p>
            </div>
            <div class="form-input nacimiento">
                <input type="date" name="nacimiento" id="nacimiento">
                <label for="nacimiento">Fecha de nacimiento</label>
                <p class="mensajeError"></p>
            </div>
            <div class="form-input password">
                <input type="password" name="password" id="password">
                <label for="nueva contraseña">Nueva contraseña</label>
                <p class="mensajeError"></p>
            </div>
            <div class="form-input reppassword">
                <input type="password" name="password" id="reppassword">
                <label for="repetir contraseña">Repetir contraseña</label>
                <p class="mensajeError"></p>
            </div>
            <div class="chclave">
                <p><a href="cambiarclave.html">Cambiar contraseña</a><br></p>
            </div>
            <div class="boton">
                <input type="submit" value="Guardar datos">
            </div>
            <p class="mensajeCorrecto"></p>
        </form>
    </div>
    <script src="../js/micuenta.js"></script>
</body>