<body>
    <main>
        <!-- logo del sitio -->
        <picture>
            <a routerLink="/home">
                <img src="../../../assets/isologo.png" alt="logo gardenigfriend">
            </a>
            <h1>Registro</h1>
        </picture>
        <!-- formulario de registro  -->
        <form action="" method="post">
            
            <div>
                <input type="text" required>
                <label for="">usuario</label>
            </div>
            <div>
                <input type="text" required>
                <label for="">nombre</label>
            </div>
            <div>
                <input type="email" name="email" required>
                <label for="">correo electronico</label>
            </div>
            <div>
                <input type="date" required>
                <label for="">fecha de nacimiento</label>
            </div>
            <div>
                <input type="password" required>
                <label for="">contraseña</label>
            </div>
            <div>
                <input type="password" required>
                <label for="">repetir contraseña</label>
            </div>
            <button type="submit">Registrarme</button>

        </form>
       
    </main>
    
</body>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet">