<app-carrito></app-carrito>
<div id="grid_principal" [ngClass]="getScreenSize()">
    <section id="tienda_grid">
        <div id="portada">
            <h3> Tienda Virtual</h3>
        </div>
        <form id="barra_buscador">
            <label for="search" id="titulo_buscador">buscador:</label> <br>
            <div id="input_wrapper">
                <input type="text" id="buscar" name="buscar" placeholder="buscar...">
                <button type="button" id="ok_buscar">OK</button>
            </div>
        </form>      
        <app-productos></app-productos>
    </section>
</div>