<div id="carrito_wrapper">
    <img src="../../../assets/icono-ventas.png" id="icono_carrito" alt="icono_carrito">
</div>

<div id="grid_principal" [ngClass]="getScreenSize()">
    <section id="tienda_grid">
        <!-- portada -->
        <div id="portada">
            <h3> Tienda Virtual</h3>
        </div>
        <!-- buscador -->
        <form id="barra_buscador">
            <label for="search" id="titulo_buscador">Busca lo que deseas!</label> <br>
            <div id="input_wrapper">
                <input type="text" id="buscar" name="buscar" placeholder="buscar..." [(ngModel)] = "palabraBusqueda" (keydown)="buscarProducto()">
                <button type="button" id="ok_buscar" (click)="buscarProducto()">OK</button>
            </div>
        </form>      
        <!-- productos -->
        <div id="grid_productos">
            <div class="productos" *ngFor="let product of products" id="{{product.name}}" [ngStyle]="{'display' : product.display}">
                <!-- imagen presentacion -->
                <div class="img_wrapper">
                    <img src="{{ product.image }}" alt="img_producto" class="icono_producto">
                </div>
                <!-- info producto -->
                <div class="detalles_producto">
                    <h4 class="titulo_producto"> {{ product.name }} </h4>
                    <ul class="carac_producto">
                        <li class="precios">Precio: $<b>{{product.precio}}</b></li>
                        <li class="categ_producto">Categoria: {{ product.category }} </li>
                        <li class="stock_producto">Stock: {{ product.stock }}</li>
                        <li class="descripcion_producto">Descripción: {{ product.description}} </li>
                    </ul>
                </div>
                <!-- boton de compra -->
                <div class="boton_wrapper">
                    <button type="button" class="boton_carrito" (click)="comprarProducto($event)"> Comprar</button>
                </div>
            </div>
        </div>
        <!-- ventana modal (compra)-->
        <div class="lightbox" *ngIf="abrirModal" [ngClass]="getScreenSize()">
            <div class="cuadro_compra">
                <!-- cerrar -->
                <div class="barra_cerrar">
                    <img src="../../../assets/icono-cerrar.png" alt="cerrar" (click)="cerrarModalCompra()">
                </div>
                <!-- logo -->
                <div class="logo_producto">
                    <img [src]="imagenProdSeleccionado">
                </div>
                <!-- formulario (añadir al carrito)-->
                <form class="formulario">
                    <h3>{{nombreProdSeleccionado}}</h3>
                    <div id="cantidad_wrapper">
                        <label for="cantidad">Cantidad: </label>
                        <input type="number" name="cantidad" id="field_cantidad" [disabled]="limiteStock" [(ngModel)] = "cantidadElegida">
                        <br><hr>
                    </div>
                    <ul class="detalles_formulario">
                        <li id="precio_unitario">Precio unitario: <b>${{valorUnitario}}</b> </li>
                        <li id="cantidad_elegida">Cantidad Elegida: <b>{{cantidadElegida}}</b> </li>
                        <li id="valor_comprado">Valor compra: <b>${{valorUnitario * cantidadElegida}}</b> </li>
                        <p *ngIf="validarCantidad()"> <b>LLEGASTE AL LIMITE DEL STOCK</b> </p>
                        <br><hr>
                    </ul>
                    <p *ngIf="cantidadElegida == 0"><b>DEBES SELECCIONAR AL MENOS 1 UNIDAD!</b></p>
                    <!-- botones -->
                    <div class="button_wrapper">
                        <button type="submit" id="anadir_carrito" class="botones_form">Añadir al carrito</button><br>
                        <button type="submit" id="terminar_compra" class="botones_form" (click)="abrirMetodosPago(cantidadElegida)">Ir a la caja</button><br>
                    </div>
                </form>
            </div>
        </div>
        <!-- ventana modal (formas de pago)-->
        <div class="lightbox" *ngIf="abirFormasPago" [ngClass]="getScreenSize()">
            <div class="cuadro_compra" id="formas_pago_form">
                <!-- cerrar -->
                <div class="barra_cerrar">
                    <img src="../../../assets/icono-cerrar.png" alt="cerrar" (click)="cerrarMetodosPago()">
                </div>
                <!-- logo -->
                <div class="logo_producto">
                    <img src="../../../assets/isologo.png" alt="logo-pagina" class="isologo_modales">
                </div>
                <!-- formulario (formas de pago)-->
                <form class="formulario">
                    <div class="detalles_formulario" id="detalles_pago">
                        <!-- seleccionar forma de pago -->
                        <label for="opciones_pago"><b>Selecciona una forma de pago:</b></label> <br>
                        <select id="opciones_pago" name="pagos" [(ngModel)] ="metodoSeleccionado">
                            <option value="tajeta_credito_debito">Tarjeta Credito / debito</option>
                            <option value="mercadopago"> Mercadopago</option>
                            <option value="billetera_virtual">Billetera virtual</option>
                        </select>
                        <hr>
                        <!-- tarjeta credito o debito-->
                        <div id="tarjeta_credito" *ngIf="metodoSeleccionado == 'tajeta_credito_debito'">
                            <label for="tarjeta"><b>Número de tarjeta de credito / debito: </b></label> <br>
                            <input type="number" name="tarjeta"> <br>
                            <!-- codigo seguridad -->
                            <label for="codigo"> <b>Introduce el código de seguridad de la tarjeta:</b> </label> <br>
                            <input type="number" name="codigo">
                            <img src="../../../assets/imagenes-tienda/card-sample.png" class="icono_tarjeta" (click)="modalCodigo()"> <br>
                            <!-- fecha expiración -->
                            <label for="expiracion"><b>Selecciona la fecha de expiración:</b></label> <br>
                            <input type="date" name="expiracion">
                            <img src="../../../assets/imagenes-tienda/card-sample.png" class="icono_tarjeta" (click)="modalExpiracion()"> <br> <hr>
                        </div>
                        <!-- mercadopago-->
                        <p *ngIf="metodoSeleccionado == 'mercadopago'" style="color:red"> Esta opción aun no esta disponible.</p>
                        <!-- billetera virtual-->
                        <p *ngIf="metodoSeleccionado == 'billetera_virtual'" style="color:red"> Esta opción aun no esta disponible.</p>
                        <!-- region -->
                        <form>
                            <p><b>Selecciona tu region:</b></p>
                            <input type="radio" name="region" value="ciudad" [(ngModel)] = "regionSeleccionada">
                            <label for="ciudad">Córdoba Capital</label> <br>
                            <input type="radio" name="region" value="provincia" [(ngModel)] = "regionSeleccionada">
                            <label for="provincia"> Interior Provincia de Córdoba</label> <br>
                            <input type="radio" name="region" value="pais" [(ngModel)] = "regionSeleccionada">
                            <label for="pais"> Otra provincia del pais</label> <br>
                        </form> <hr>
                        <!-- ingresa tu direccion -->
                        <p><b>Ingresa tu dirección:</b></p>
                        <input type="text">
                        <hr>
                        <!-- costos -->
                        <p style="margin-bottom: 7px;"><b>Detalles Compra:</b></p>
                        <p>Producto elegido: <b>{{nombreProdSeleccionado}}</b></p>
                        <p>Costo compra: <b>${{costoCompra}}</b></p>
                        <p>Costo envio: <b>${{calcularEnvio(regionSeleccionada)}}</b></p>
                        <hr>
                        <p style="font-size: 1.1rem; margin-top: 10px;"><b>Total: ${{valorTotalCompra}} </b></p>
                    </div>
                    <!-- botones -->
                    <div class="button_wrapper">
                        <button type="submit" id="Finalizar" class="botones_form">Finalizar Compra</button><br>
                    </div>
                </form>
            </div>
        </div>
        <!-- ejemplo modal (codigo seguridad)-->
        <div class="lightbox" *ngIf="mostrarEjemploCodigo" [ngClass]="getScreenSize()">
            <div class="modal_ejemplo">
                <div class="barra_cerrar_modal">
                    <img src="../../../assets/icono-cerrar.png" id="cerrar_modal_1" (click)="modalCodigo()">
                </div>
                <img src="../../../assets/imagenes-tienda/image-card-sample-1.png" alt="ejemplo">
            </div>
        </div>
        <!-- ejemplo modal (fecha expiracion)-->
        <div class="lightbox" *ngIf="mostrarEjemploExpiracion" [ngClass]="getScreenSize()">
            <div class="modal_ejemplo">
                <div class="barra_cerrar_modal">
                    <img src="../../../assets/icono-cerrar.png" id="cerrar_modal_1" (click)="modalExpiracion()">
                </div>
                <img src="../../../assets/imagenes-tienda/image-card-sample-2.png" alt="ejemplo">
            </div>
        </div>
    </section>
</div>

