#barra_buscador{
    display: flex;
    grid-area: buscador;
    flex-direction: column;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: secundaria1;
}

#titulo_buscador{
    font-weight: bold;
    font-size: 1.25rem;
}


#buscar{
    width: 75%;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#ok_buscar{
    background: var(--fuentePrin2);
    color: white;
    font-family: secundaria1;
    font-size: 1.2rem;
    width: 50px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 5px;
    border: none;
}
#ok_buscar:hover{
    background: var(--verde2);
    transition: 0.5s;
}