/* ------------------- Estilos modal detalles producto ----------------------*/
/* ajustes generales */
#contenedor_modal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: "titulo"
                          "contenido"
                          "boton";
    font-family: secundaria1;
    box-shadow: var(--sombra1);
    height: 450px;
    overflow: hidden;
}
/* 1ra parte - titulo */
#contenedor_modal h3{
    display: flex;
    grid-area: titulo;
    height: 100%;
    width: 100%;
    background: var(--verde3);
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    color: white;
    font-size: bold ;
    font-size: 1.3rem;
    font-family: secundaria1;
}
/* 2da parte - contenido */
#contenedor_modal .cnt_modal{
    display: flex;
    grid-area: contenido;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
}

.cnt_modal img{
    width: 100px;
    justify-self: center;
}
.cnt_modal ul li{
    margin-top: 10px;
}

/* 3ra parte - boton cerrar */
#contenedor_modal .btn_wrapper{
    display: flex;
    grid-area: "boton";
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    align-self: flex-end;
}

button{
    font-family: secundaria1;
    background: var(--grisBtn);
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover{
    background: var(--verde3);
    transition: 0.5s;
}


