<div id="grid_productos">
    <div class="productos" *ngFor="let product of products">
        <!-- imagen presentacion -->
        <div class="img_wrapper">
            <img src="{{ product.image }}" alt="img_producto" class="icono_producto">
        </div>
        <!-- info producto -->
        <div class="detalles_producto">
            <h4 class="titulo_producto"> {{ product.name }} </h4>
            <ul class="carac_producto">
                <li class="categ_producto">Categoria: {{ product.category }} </li>
                <li class="stock_producto">Stock: {{ product.stock }}</li>
                <li class="descripcion_producto">Descripción: {{ product.description}} </li>
            </ul>
        </div>
        <!-- boton de compra -->
        <div class="boton_wrapper">
            <button type="button" class="boton_carrito"> Añadir al carrito</button>
        </div>
    </div>
</div>

